.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  background: white;
  width: 500px;
  min-height: fit-content;
  border-radius: 7px;
  position: relative;
}
.textContent{
  margin-bottom: 100px;
}
.textContent h3{
  padding: 10px 20px;
  font-size: 1.5rem;
}

.textContent p{
  position: relative;
  left: 100%;
  transform: translateX(-75%);

}

.btns{
  position: absolute;
  bottom: 5px;
  transform: translateY(-5px);
}

.btns button{
  font-size: 20px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: white;
}
.btns :nth-child(3){
  margin-left: 270px;
  padding: 3px 5px;
  font-size: 1.2rem;
}
.btns :nth-child(1){
   margin: 0 8px 0 15px;
}

.name{
  color: white;
  font-size: 0.9rem;
}
.name a{
  color: white;
  text-decoration: none;
}
